{*
 * BreadCrumb Template
 *
 * @author David Zadrazil <me@davidzadrazil.cz>
 *}

<ul class="breadcrumb">
	<li n:foreach="$links as $link">
		<i class="{$link['icon']}" n:if="$link['icon']"></i>
		{if $link['link']}
			<a href="{$link['link']}" title="{$link['title']}">{$link['title']}</a>
		{else}
			<a n:href="this">{$link['title']}</a>
		{/if}
		<i class="icon-angle-right" n:if="!$iterator->isLast()"></i>
	</li>
</ul>
